.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.styled-button {
  background-color: #4CAF50;
  color: white;
  padding: 45px 80px;
  font-size: 38px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.relaxing-button {
  animation: relaxingAnimation 3s infinite;
  transition: transform 0.5s step-end ease-in-out;
}

@keyframes relaxingAnimation {
  0% { transform: translate(0, 0); }
  50% { transform: translate(0, -10px); }
  100% { transform: translate(0, 0); }
}

.styled-button:hover {
  padding: 50px 85px;
  box-shadow: 0px 5px 5px black;
  background-color: #45a049;
}
